POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=password
POSTGRESQL_DBNAME=dbname
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=1234

TELEGRAM_BOT_TOKEN=token

JIKAN_BOT_LOGIN=login
JIKAN_BOT_PASSWORD=password
JIKAN_API_HOST=localhost
JIKAN_API_PORT=1234